PORT=3001
NODE_ENV=development
JWT_SECRET=change_this_to_a_random_64_char_string
DB_PATH=./data/netmon.db

UNIFI_URL=https://192.168.1.6
UNIFI_USERNAME=n8n-api
UNIFI_PASSWORD=X3la@2025$2030
UNIFI_SITE=default

SMTP_HOST=
SMTP_PORT=587
SMTP_SECURE=false
SMTP_USER=
SMTP_PASS=
ALERT_FROM=netmon@yourdomain.com
ALERT_TO=admin@yourdomain.com
