{
	debug
	# Force Caddy to use the IP certificate when the client doesn't send SNI
	# (which often happens when connecting via IP address)
	default_sni {$SITE_ADDRESS}
}

{$SITE_ADDRESS}, localhost, 127.0.0.1 {
	tls internal
	reverse_proxy netmon:3001
}
